<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="{{ question.image.url }}" alt="" width="250" height="250">
<hr>
<h1>{{ question.text }}</h1>
<hr>
{% for answer in answers %}
    <form action="{% url 'next_question' %}?test_slug={{ test_slug }}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="answer_id" value="{{ answer.id }}">
        <button type="submit">{{ forloop.counter }}. {{ answer.text }}</button>
    </form>
{% endfor %}
<hr>
<h3>{{ current_question_number }}/{{ total_questions }}</h3>
<br>
<table border="1">
    <thead>
        <tr>
            <th>Ключ</th>
            <th>Значение</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in request.session.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">Сессия пуста</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="http://127.0.0.1:8000/">Домой</a>
</body>
</html>
