{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="child-container">
        <div class="title">
            <h1>Авторизация</h1>
        </div>

        <div class="form">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <div class="login">
                    <h1>Логин</h1>
                </div>

                <!-- Ввод логина -->
                <!-- required-поле обязательно для заполнения -->
                <div class="field-login">
                    <input type="text" name="username" required>
                </div>

                <div class="password">
                    <h1>Пароль</h1>
                </div>

                <!-- Ввод пароля -->
                <div class="field-password">
                    <input type="text" name="password" required>
                </div>

                <!-- Отправить данные -->
                <div class="field-entry">
                    <button type="submit">Войти</button>
                </div>
            </form>

            <!-- Всплывающее окно с ошибками Popup -->
            <div id="errorPopup" class="popup"
                 style="{% if form.errors %}
                        display: flex;
                     {% else %}
                        display: none;
                    {% endif %}">


                <div class="popup-content">
                    <!-- кнопка закрытия Popup -->
                    <span class="close">❌️</span>

                    <!-- заполняем всплывающее окно -->
                    <!-- Ошибки с маркеркерами -->
                    <div>
                        <h2>Ошибки:</h2>
                        {% if form.errors %}
                        <ul>
                            {% for field, errors in form.errors.items %}
                                <li>▫️{{ errors }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <div class="footer">
            <a href="{% url 'register' %}" class="field-non-account-link">
                <div class="field-non-account">
                    <div class="non-account">
                        <h1>Нет аккаунта --></h1>
                    </div>
                    <div class="plus">
                        <img src="{% static 'img/plus.png' %}" alt="...">
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<script>
    // закрыть окно по клику на кнопку
    document.addEventListener('DOMContentLoaded', () => {
    const closeButton = document.querySelector('.close');
    const errorPopup = document.getElementById('errorPopup');

    closeButton.addEventListener('click', () => {
        errorPopup.style.display = 'none';
    });
});
</script>

{% endblock %}
