{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tests_by_category.css' %}">
{% endblock %}

{% block content %}
  <div class="container">

    <!-- Название категории -->
    <div class="container-title">
      {% if category_title %}
        <h1>Все тесты категории: {{ category_title }}</h1>
      {% else %}
        <h1>Неизвестная категория</h1>
      {% endif %}
    </div>

    <!-- Карточки с тестами (одной категории) -->
    <div class="all-cards-test">

      <!-- Блок с карточками тестов -->
      <div class="container-child">
        {% if tests %}
          {% for test in tests %}

            <!--Карточка теста-->
            <div class="card-test">
              <a href="{% url 'retrieve_test' test.slug %}" class="jump-button-button">
              <div class="date-author">
                <div class="date-test">
                  <h1>{{ test.updated_at|date:"Y-m-d"  }}</h1>
                </div>
                <div class="author-test">
                  <h1>{{ test.author }}</h1>
                </div>
              </div>
              <div class="title-test">
                <h1>{{ test.title }}</h1>
              </div>
              </a>
            </div>

            <!-- проверяет, делится ли текущий номер карточки на 3-->
            <!-- тогда будет закрыт текущий <div class="container-child">
             откроется новый.-->
            {% if forloop.counter|divisibleby:3 %}
                </div><div class="container-child"> <!-- Новый ряд -->
            {% endif %}
          {% endfor %}
        {% else %}
          <p>В этой категории пока нет тестов.</p>
        {% endif %}
      </div>
    </div>

    <a href="{% url 'home' %}">Вернуться на главную</a>
  </div>
{% endblock %}
