.container {
    width: 1184px;
    height: 100%;
    min-height: 100vh;
    background-color: #ADB9E3;
    border-radius: 50px 50px 0 0;
    margin-top: 33px;
    padding-top: 1px;
    box-sizing: border-box;
    font-family: 'Inter';
    text-align: center;
    color: white;
}

.container-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 54px;
    text-align: left;
}

/* Блок с категориями */
.container-header {
    margin-top: 26px;
    display: flex; /* Включаем flexbox */
    flex-wrap: wrap; /* Позволяем элементам переноситься на следующую строку */
    gap: 22px 26px; /* Первый параметр — горизонтальный зазор, второй — вертикальный */
    justify-content: flex-start; /* Выравнивание по левому краю */
    padding-left: 41px; /* Отступ от левого края */
    font-family: 'Inter';
}

/* Категория */
.header-selected {
    height: 55px;
    font-size: 22px;
    background-color: #A379C9;
    border-radius: 50px;
    max-width: 285px; /* Максимальная ширина блока */
    padding: 0 43px; /* Отступы внутри блока */
    display: flex; /* Включаем flexbox */
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Центрируем текст */
    overflow: hidden; /* Скрываем все, что выходит за пределы блока */
    text-align: center; /* Выравниваем текст по центру */
}

.header-selected span {
    white-space: nowrap; /* Запрещаем перенос строки */
    overflow: hidden; /* Скрываем лишний текст */
    text-overflow: ellipsis; /* Добавляем многоточие */
    display: inline-block; /* Гарантируем, что текст ведет себя как блочный элемент */
    max-width: 100%; /* Текст занимает всю доступную ширину родителя */
}

.container-popular-tests {
    font-size: 30px;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 54px;
    text-align: left;
}

/* Блок с карточками тестов по 3 шт */
.container-child {
    display: flex;
    flex-wrap: wrap;  /* Разрешаем перенос элементов на новую строку */
    gap: 41px 26px;   /* расстояние по горизонтали, - по вертикали */
    margin-top: 36px;
    justify-content: space-between; /* Распределение карточек по горизонтали с отступами */
    font-weight: bold; /* Устанавливаем жирный шрифт */
}

/* Карточка теста */
.card-test {
    background-color: #56C7B2;
    border-radius: 25px;
    height: 168px;
    width: 342px;
    flex: 0 0 342px; /* Устанавливаем фиксированную ширину для карточки */
    box-sizing: border-box; /* Учитываем отступы в ширине */
    color: white;
    text-align: left; /* Выровнять текст по левой стороне */
    padding-left: 20px; /* Внутренний отступ слева на 20 пикселей */

}

.title-test {
    font-size: 22px;
    font-family: 'Inter';
    margin-top: 14px;
    margin-left: 23;
    justify-content: center;
}

.category-test {
    height: 32px;
    width: 200px;
    border-radius: 50px;
    background-color: #A379C9;
    font-size: 14px;
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Выравниваем текст по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    flex-wrap: nowrap;
}

/* заголовок h1 в category-test по вертикали */
.category-test h1 {
    margin: 0; /* Убираем отступы по умолчанию у h1 */
    line-height: normal; /* Убираем line-height, чтобы не мешал вертикальному выравниванию */
}

.date-create-test {
    margin-top: 14px;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: bold; /* Устанавливаем жирный шрифт */

}

.author-test {
    margin-top: 13px;
    font-size: 12px;
    font-family: 'Inter';

}
