.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1184px;
    min-height: 100vh; /* Убираем фиксированную высоту */
    background-color: #ADB9E3;
    border-radius: 50px 50px 0 0;
    margin-top: 33px;
    padding: 20px; /* Увеличиваем padding для удобства */
    box-sizing: border-box;
    font-family: 'Inter';
    text-align: center;
    color: white;
}

.container-header {
    display: flex;
    justify-content: space-between; /* Распределяет элементы по краям */
    align-items: center; /* Выравнивает элементы по вертикали */
    width: 100%; /* Растягиваем на всю ширину */
    padding: 0 40px; /* Добавляем отступы слева и справа */
    box-sizing: border-box; /* Учитываем padding в ширине */
}

.header-title-name {
    font-size: 30px;
    font-weight: bold;
    margin: 0; /* Убираем margin */
    text-align: left;
    margin-top: 20px;
}

.header-category {
    font-size: 22px;
    height: 55px;
    width: 305px;
    font-weight: bold;
    border-radius: 50px;
    background-color: #A379C9;
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Выравниваем текст по горизонтали */
    align-items: center;
    margin-top: 20px;
}

.header-category h1 {
    margin-top: 10px;
}

/* Блок с вопросами и вариантами ответов */
.container-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Выравнивание верхних границ */
    gap: 20px; /* Отступ между блоками */
    margin-top: 30px;
}

.contents {
    width: 550px;
    height: 360px;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: left;
    color: black;
    /* padding: 20px;  Внутренние отступы */
    box-sizing: border-box; /* Учитываем padding в общую ширину и высоту */
    display: flex; /* Включаем Flexbox для организации содержимого */
    flex-direction: column; /* Располагаем элементы вертикально */
}

.question {
    font-size: 18px;
    font-family: 'Inter';
    font-weight: bold;
    margin-top: 24px;
    margin-left: 33px;

}

.ansewers {
    font-size: 20px;
    font-family: 'Inter';

    margin-top: 38px;
    margin-left: 65px;

}

.number-questions {

}

/* Блок с картинкой вопроса */
.picture {
    width: 550px; /* Фиксированная ширина */
    height: 360px;
}

.picture img {
    width: 100%;
    height: 360px;
    object-fit: cover; /* Изображение будет обрезано под заданные размеры */
    border-radius: 20px;
}

.button-start {
    width: 1125px;
    height: 55px;
    border-radius: 50px;
    background-color: #A379C9;
    margin-top: 24px; /* Отступ сверху для эстетики */
    display: flex; /* Добавляем flexbox для центрирования содержимого */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

button {
    background-color: transparent; /* Убираем фон */
    border: none; /* Убираем границу */
    color: white; /* Устанавливаем белый цвет текста */
    font-size: 22px; /* Настройте размер шрифта по желанию */
    .font-family: 'Inter';
    font-weight: bold;
    cursor: pointer; /* Указатель при наведении на кнопку */
}
